block header
    nav.navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') WebSiteName
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=`${currentPath==='/' ? 'active' : ''}`)
              a(href='/') Home
          ul.nav.navbar-nav.navbar-right
            if user
              li(class=`${currentPath==='/profile' ? 'active' : ''}`)
                a(href='/profile')
                  img.avatar(src=user.gravatar + '&d=retro' style='width:20px')
                  |  Profile
              li
                a(href='/logout')
                  span.glyphicon.glyphicon-log-out
                  |  Log out
            else  
              li(class=`${currentPath==='/register' ? 'active' : ''}`)
                a(href='/register')
                  span.glyphicon.glyphicon-user
                  |  Sign Up
              li(class=`${currentPath==='/login' ? 'active' : ''}`)
                a(href='/login')
                  span.glyphicon.glyphicon-log-in
                  |  Login
