<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title} | #{h.siteName}
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        block header
            include ./partials/_header.pug

        block messages
        if locals.flashes
            .container
                - const categories = Object.keys(locals.flashes)
                each category in categories
                    each message in flashes[category]
                        .alert(class=`alert-${category==='error' ? 'danger' : category}`).alert-dismissible
                            a.close(href='#', data-dismiss='alert', aria-label='close') ×
                            strong #{category.toUpperCase()}! 
                            | #{message}

        block content

        block footer

        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
